body {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: #25265e;
    /* font-family: "euclid_circular_a", "Arial", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif; */
    margin: 0%;
    padding: 0;
    background-color: ghostwhite;
    background-image: url(2806.jpg);
    background-size: cover;
    opacity: 5;
    overflow-x: hidden;
}

#section-1 {
    padding: 30px;
    height: 100vh;
    /* background-color: #0866ff; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#my {
    height: 120px;
    width: 150px;
    position: relative;
    /* left: 50px; */
    top: -50px;
    /* border-radius: 10px; */
    border-radius: 50%;
    z-index: 1;
    /* box-shadow: 0 0 10px rgba(4, 0, 255, 0.1); */
    overflow: hidden;
}

#card-containt {
    position: relative;
    top: -60px;
}

.main-card {
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(4, 0, 255, 0.1);
    height: 500px;
    width: 250px;
    border-radius: 10px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-card-para-1 {
    margin-top: 10px 0px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

}

.sub-card-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px 10px;
    margin: 10px auto;
}

.social-links {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    height: 25px;
    width: 25px;
    background-color: rgb(182, 225, 252);
}

.social-icon {
    /* mix-blend-mode: multiply; */
    height: 15px;
    width: 15px;
}

.sub-card-2 {
    box-shadow: 0 0 10px rgba(126, 124, 223, 0.1);
    border-radius: 10px;
    padding: 10px;
}

.social-2-icon {
    height: 20px;
    width: 20px;
    background-color: rgb(182, 225, 252);
    border-radius: 20%;
}

.contact-span {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    border-bottom: 1px solid grey;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: purple;
}

.btn {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #0866ff;
    color: aliceblue;
    text-decoration: none;
    border: none;
}

.btn:hover {
    color: #0866ff;
    background-color: aliceblue;
    border: 1px solid #0866ff;
}

.main-card-2 {
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(4, 0, 255, 0.1);
    height: 500px;
    width: 500px;
    border-radius: 10px;
    padding: 0 40px;
    text-align: justify;
}

.flexxx {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.block {
    height: 100px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(115, 0, 255, 0.216);
    margin: 5px;
}

.flex-box-texts {
    text-transform: capitalize;
    text-align: center;
}

#colo {
    background-color: darksalmon;
}

#colo-1 {
    background-color: whitesmoke;
}

.main-card-3 {
    width: 100px;
    height: 500px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 10px rgba(4, 0, 255, 0.1);
    border-radius: 10px;

}

.social-icon-3 {
    /* margin-top: ; */
    height: 40px;
    width: 40px;

    background-color: rgb(182, 225, 252);
    box-shadow: 0 0 10px rgba(4, 0, 255, 0.1);
    border-radius: 50%;
}

.social-links-3 {
    /* margin-top: 50px; */
}

@media only screen and (max-width: 560px) {
    #section-1 {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
    }

    #my {
        height: 120px;
        width: 150px;
        /* position: relative;
        left: 60px;
        top: -50px; */
        /* border-radius: 10px; */
        border-radius: 50%;
        z-index: 1;
        /* box-shadow: 0 0 10px rgba(4, 0, 255, 0.1); */
        overflow: hidden;
    }

    #card-containt {
        position: relative;
        top: -60px;
    }

    .main-card {
        background-color: aliceblue;
        /* background-color: red; */
        box-shadow: 0 0 10px rgba(4, 0, 255, 0.1);
        width: 70vw;
        height: 100%;
        border-radius: 10px;
        padding: 0 40px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-card-2 {
        background-color: aliceblue;
        box-shadow: 0 0 10px rgba(4, 0, 255, 0.1);
        height: 500px;
        width: 80vw;
        border-radius: 10px;
        padding: 0 40px;
    }

    .main-card-3 {
        width: 80vw;
        height: 10vh;
        background-color: aliceblue;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 0 0 10px rgba(4, 0, 255, 0.1);
        border-radius: 10px;
        padding: 40px 30px;
    }

    .social-icon-3 {
        height: 40px;
        width: 40px;
        /* background-color: rgb(182, 225, 252); */
        box-shadow: 0 0 10px rgba(4, 0, 255, 0.1);
        border-radius: 50%;
    }

    .social-links-3 {
        margin-top: 0px;

    }

}

/* ////////////////////////////////////////////////// */
.resume-card {
    background-color: aliceblue;
    /* background-color: red; */
    box-shadow: 0 0 10px rgba(4, 0, 255, 0.1);
    height: 500px;
    width: 500px;
    width: 80vw;
    border-radius: 10px;
    padding: 0 40px;
    margin: 0 auto;
}

.ddd333 h1 {
    margin: 25px auto;
    text-align: center;
}

#main22 {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    /* margin: 10px; */
}

.resume-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.resume-sub-div {
    height: 60px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(115, 0, 255, 0.216);
    background-color: aliceblue;
    margin: 5px;
    padding: 15px;
}

.resume-card-para {
    font-size: 14px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.resume-card-para-head {
    color: #0866ff;
    font-size: 10px;
    margin: 0 0 10px 0;
    padding: 0;
}

.res-img {
    height: 25px;
    width: 27px;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 560px) {
    .resume-card {
        background-color: aliceblue;
        box-shadow: 0 0 10px rgba(4, 0, 255, 0.1);
        height: 500px;
        width: 80vw;
        border-radius: 10px;
        /* padding: 0 40px; */
    }

    #main22 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        /* margin: 10px; */
    }

    .ddd333 h1 {
        margin: 25px auto;
        text-align: center;
    }

    .resume-main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .resume-sub-div {
        height: 60px;
        width: 100px;
        border-radius: 10px;
        box-shadow: 0 0 50px rgba(115, 0, 255, 0.216);
        background-color: aliceblue;
        margin: 5px;
        /* padding: 15px; */
    }

    .resume-card-para {
        font-size: 10px;
        text-transform: capitalize;
        margin: 0;
        padding: 0;
    }
}

/* ////////////////////////////////////////////////// */
#btnn {
    /* margin-top: 20px; */
    padding: 10px;
    border-radius: 10px;
    background-color: #0866ff;
    color: aliceblue;
    text-decoration: none;
    border: none;
}

#btnn:hover {
    border: 1px solid #0866ff;
    color: #0866ff;
    background-color: aliceblue;
}

#section-heading {
    font-family: "Concert One", sans-serif;
    text-align: center;
    font-size: 50px;
}

.project-section-flex {
    width: 90vw;
    margin: 0 auto;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;

}

.project-image-links {
    height: 220px;
    width: 350px;
}

.pblock {
    height: 220px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(115, 0, 255, 0.507);
}

.flex-box-texts {
    text-transform: capitalize;
    text-align: center;
    z-index: 1;
}

@media only screen and (max-width: 560px) {

    .project-section-flex {
        width: 90vw;
        margin: 0 auto;
        /* background-color: blueviolet; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 50px;

    }
}

#section-2 {
    /* margin-top: 100vh; */
    /* background-color: #0866ff; */
}

#hh1 {
    text-align: center;
    text-transform: capitalize;
}

.contact-div {
    width: 80vw;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.935);
    box-shadow: 0 0 10px rgba(4, 0, 255, 0.1);
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.contact-spans {
    height: 300px;
    width: 300px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

input {
    height: 5vh;
    width: 20vw;
    /* height: 40px;
    width: 100px; */
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(4, 0, 255, 0.1);
    padding: 10px;
}

input:hover {
    box-shadow: 0 0 10px rgba(4, 0, 255, 0.397);
}

#message {
    height: 100px;
}

footer {
    margin: 0;
    height: 20vh;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(4, 0, 255, 0.1);
}

.footer-para {
    font-family: "Concert One", sans-serif;
    /* margin: 0; */
    padding: 40px;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
}