body{
    padding:10px;
    background-color: #f0f8ff;
    /* background-color: black; */
}
.item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(115, 0, 255, 0.507);
}

.item img {
    transition: transform 0.3s ease-in-out;

}

.item:hover video {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.item:hover .text {
    opacity: 1;
    transform: translateY(0);
}

.anchor_tags {
    overflow: hidden;
}










html {
    /*   *****   Storing Colors In Variables   *****  */
    --body-clr: #f6f9fe;
    --primary-clr: #05555c;
    --primary-light-clr: #eaf3fa;
    --links-clr: #186f78;
    --text-clr: #3f7277;
}


.section-head h1 {
    /* position: relative; */
    text-align: center;
    font-size: 32px;
    margin: 10px 0px 30px;
    color: var(--primary-clr);
}

.button-group {
    text-align: center;
    margin-bottom: 40px;
}

.button-group .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #c8d1d8;
    color: var(--primary-clr);
    font-style: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.button-group .button.active {
    background-color: var(--primary-clr);
    color: var(--body-clr);
}

.button-group .button:hover {
    background-color: var(--primary-clr);
    color: var(--body-clr);
}